body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (min-width: 768px){
.container {
    max-width: 720px;
}}

@media (min-width: 576px){
.container {
    max-width: 540px;
} }


.container-md {
  min-width: 100%!important;
  padding: 0!important;
  background-color: white!important;
}
nav.navbar.navbar-expand-lg.navbar-dark.bg-light.sticky-top{
  background-color: black!important;
}
.mr-auto.navbar-nav a {
  padding: 20px;
  color: rebeccapurple;
  font-weight: 600;
  text-decoration: underline;
}
.card-title.h5 { min-height: 50px; }p.card-text { min-height: 72px; }

* {
  box-sizing: border-box;
}
.App {
   max-width: 420px;
   margin: 0 auto;
}
p {
   text-align: center;
   font-weight: 500;
}
input[type=text],input[type=email], select, textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
}
input[type=submit] {
   background-color: #4CAF50;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}
input[type=submit]:hover {
   background-color: #45a049;
}
.container {
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
}
.popup-content .modal {
  display: block;
  position: relative;
  padding: 19px;
}
.footercopyright {
  font-size: 15px;
  color: #ffc108;
}

p.msgwrn, .msgwrne {
  font-size: 13px;
  color: red;
  position: absolute;
  margin-top: 22px;
  margin-left: 282px;
}
.error {
  border: 1px solid red!important;
}
.display-none{
display: none;
}
.success.text-white {
  color: orange!important;
}